@import url(../../../tokens/fontes.css);
.LoginButton-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* background-color: blue; */
    
}

.LoginButton{
    margin-top: 30px;
    font: var(--title);
    font-weight: bold;
    /* margin-bottom: 30px; */
    width: 30vh;
    height: 5vh;
    background-color: #0167ff ;
    color: #fff;
    border: 2px solid;
    border-radius: 25px;
    transition: transform 0.3s ease-in-out;
}
.LoginButton:hover{
    background-color: var(--lightblue);
    transform: scale(1.1);
}