.input-container {
  /* margin-top: 15px; */
  margin-left: 2%;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  width: 100%;
  position: relative;
  /* background-color: blue; */
}
.custom-input {
  padding-left: 50px; /* Espaço à esquerda do texto */
  height: 5vh;
  font-size: 15px;
  border: 1.5px solid #ccc;
  border-radius: 7px;
  outline: none;
  transition: all 0.3s ease-in-out;
  margin-top: 15px;
  left: 10%;
  width: 95%;
  box-sizing: border-box; /* Inclui padding e border no cálculo do tamanho */
}
.custom-input + i {
    position: fixed;
    margin-top: 15px;
    position: absolute;
    left: 3vh;
    width: 18px;
    height: 18px;
    pointer-events: none;
    color: #aaa;
    
  }


/* @media (max-width:459px){
    .input-container {
        width: 330px;
    }
    
    .custom-input {
        padding-left: 15px;
        height: 3vh;
        /* margin-left: 50px; */
/* margin-top: 15px; */

/* } */

/* .input-icon {
        margin-top: 15px;
    
        width: 10px;
        height: 10px;
    
    }
    } */

/* @media (min-width: 460px) and (max-width:645px){
.input-container {
    width: 330px;
}

.custom-input {
    padding-left: 15px;
    height: 3vh;
    margin-left: 50px;
    margin-top: 15px; */

/* } */
/* 
.input-icon {
    margin-top: 15px;
    left: 63px;
    width: 10px;
    height: 10px;

}
} */
/* 
@media (min-width: 646px) and (max-width:830px){
    .input-container {
        width: 400px;
    }
    
    .custom-input {
        padding-left: 20px;
        height: 3vh;
        
        margin-left: 50px;
        margin-top: 15px;
    }
    
    .input-icon {
        margin-top: 15px;
        left: 63px;
        width: 15px;
        height: 15px;
    
    }
    }

    @media (min-width: 831px) and (max-width:1015px){
        .input-container {
            width: 40%;
        }
        
        .custom-input {
            padding-left: 20px;
            margin-left: 50px;
            margin-top: 15px;
        }
        
        .input-icon {
            margin-top: 15px;
            left: 63px;
            width: 15px;
            height: 15px;
        
        }
        } */
