.logoImgGoogle {
  width: 26px;
  height: 23px;

  
  gap: 2px; /* Espaçamento entre os ícones */
}
.logoImgApple {
  width: 26px;
  height: 27px;

  
  gap: 10px; /* Espaçamento entre os ícones */
}
.logoImgMicrosoft {
  width: 30px;
  height: 26px;
  

  
  gap: 2px; /* Espaçamento entre os ícones */
}
