@import url(../../../tokens/colors.css);


.AddEventButton-containe{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* background-color: blue; */
    
}

.open-popup-btn{
    /* margin-top: 30px; */
    /* margin-bottom: 30px; */
    width: 6vh;
    height: 6vh;
    background-color: var(--blue) ;
    color: #fff;
    border: 2px solid;
    border-radius: 5px;
    font-size: 20px;
    transition: transform 0.3s ease-in-out;
}

.open-popup-btn:hover{
    background-color: var(--lightblue);
    transform: scale(1.1);
}