@import url(../../../tokens/colors.css);
@import url(../../../tokens/fontes.css);

.AddEventButton-containe{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* background-color: blue; */
    
}

.open-popup-btn{
    /* margin-top: 30px; */
    /* margin-bottom: 30px; */
    width: 100%;
    height: 6vh;
    background-color: var(--blue) ;
    color: #fff;
    border: 2px solid;
    border-radius: 7px;
    font-size: 20px;
    transition: transform 0.3s ease-in-out;
    font-family: var(--text);
    font-size: 14px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
}

.open-popup-btn:hover{
    background-color: var(--lightblue);
    transform: scale(1.1);
}
