.popup-box {
    margin-left: 25%;
    z-index: 9999;
    background-color: #fff;
    width: 33%;
    height: 200px;
    padding: 20px;
    border-radius: 7px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;  /* Alinha o conteúdo verticalmente */
    align-items: center;      /* Alinha o conteúdo horizontalmente */
    text-align: center;       /* Garante que o texto também fique centralizado */
}

.popup-box h3 {
    padding-left: 0; /* Remova o padding-left */
    padding-bottom: 10px;
    margin: 0; /* Para remover margens desnecessárias */
}

.popup-box p {
    padding-bottom: 20px;
    text-align: left;
    
}

.popup-box button {
    margin-top: auto;  /* Coloca o botão no final da caixa */
    display: block;
    margin-left: auto;
    margin-right: auto; /* Centraliza o botão */
}
