@import url(../../../tokens/fontes.css);

.conteiner-text h1 {
  font-family: var(--title); /* Tamanho grande */
  font-weight: bold; /* Negrito */
  color: #1e3a8a; /* Azul escuro */
  margin-bottom: 1rem; /* Espaçamento abaixo do título */
}
.logoImg {
  width: 60px;
  height: 60px;
}
