@import url(../../../tokens/fontes.css);

.container {
  display: flex;
  align-items: center; /* Centraliza verticalmente */
  gap: 15px; /* Espaço entre a imagem e o texto */
  width: 30%;
  /* margin-left: 3%; */
}

.container-text {
  display: flex;
  flex-direction: column; /* Coloca os textos um abaixo do outro */
}

.Tudu {
  color: #0167ff;
  font-family: var(--title);
  font-size: 1.5rem;
  margin: 0; /* Remove margens externas */
  line-height: 1.1; /* Diminui o espaço entre linhas */
  text-align: left; /* Alinha o texto à esquerda */
}

.Tudu-text {
  width: 11vw;
  font-weight: bold;
  font-family: var(--title);
  font-size: 0.9rem;
  margin: 0; /* Remove margens externas */
  line-height: 1.1; /* Deixa mais compacto */
}

.logoImg-tudutile {
  width: 5vh;
  height: 5vh;
}
