@import url(../../../tokens/fontes.css);

.container {
  display: flex;
  align-items: center; /* Centraliza verticalmente */
  gap: 15px; /* Espaço entre a imagem e o texto */
  /* background-color: red; */
  width: 30%;
  /* margin-top: 3%; */
  margin-left: 3%;
}


.container-text{
    display: flex;
    flex-direction: column; /* Coloca os textos um abaixo do outro */
}
.Tudu {
  color: #0167ff;
  font-family: var(--title);
  font-size: 2rem;
  margin: 0; /* remove margens externas */
  line-height: 1.1; /* diminui espaço entre linhas */
}

.Tudu-text {
  width: 110%;
  font-weight: bold;
  font-family: var(--title);
  font-size: 1rem;
  margin: 0; /* remove margens externas */
  line-height: 1.1; /* deixa mais compacto */
}


.logoImg-tudutile{
    width: 70%;
    height: 5vh;
    
}
.container-text {
  display: flex;
  flex-direction: column; /* Coloca os textos um abaixo do outro */
}