@import url(../../tokens/fontes.css);
@import url(../../tokens/colors.css);

/* Estilos principais da barra lateral */
* {
  font-family: var(--title);
}

.sidebar {
  width: 250px;
  height: 100%;
  background-color: #f4f4f4;
  padding-top: 20px;
  position: fixed;
  transition: width 0.3s ease;
}

.sidebar.colapsada {
  width: 80px; /* Tamanho colapsado */
}

/* Estilos para o botão de expandir/colapsar */
.toggle-button {
  background-color: transparent;
  color: var(--blue);
  font-size: 20px;
  padding: 10px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  position: absolute;
  top: 10px;
  right: 10px;
}

.toggle-button:hover {
  background-color: transparent;
  color: #014b9c;
}

.toggle-button i {
  font-size: 18px;
  transition: transform 0.3s ease;
}

.NavBar-Container {
  margin-top: 15px;
}

/* Estilos dos itens de menu */
.menu-item {
  padding: 10px;
}

.menu-link {
  text-decoration: none;
  color: #333;
  font-size: 16px;
  display: block;
  padding: 10px;
  transition: color 0.3s ease, background-color 0.3s ease, transform 0.3s ease;
  margin-bottom: -20px;
}

.menu-link i {
  margin-right: 10px;
  color: var(--Borda);
}

.menu-link:hover i {
  color: var(--blue);
}

.menu-link:hover {
  background-color: #cce0fd;
  color: var(--blue);
  font-weight: bold;
  border-radius: 10px;
  transform: scale(1.1);
}

/* Ocultar os spans quando a barra lateral estiver colapsada */
.sidebar.colapsada .menu-link span {
  display: none;
}

/* Estilos para os submenus */
.submenu {
  padding-left: 20px;
}

.submenu i {
  margin-right: 10px;
  color: var(--Borda);
}

.submenu:hover i {
  color: var(--blue);
}

.submenu-item {
  padding: 5px;
}

.submenu-inner {
  padding-left: 20px;
}

.submenu-item {
  cursor: pointer;
  color: #333;
  padding-left: 15px;
  padding-bottom: 10px;
  margin-top: 23px;
  margin-bottom: -20px;
  transition: color 0.3s ease, background-color 0.3s ease, transform 0.3s ease;
}

.submenu-item:hover {
  color: var(--blue);
  background-color: #cce0fd;
  font-weight: bold;
  border-radius: 13px;
  transform: scale(1.1);
}

/* Ocultar submenus quando a barra lateral estiver colapsada */
.sidebar.colapsada .submenu {
  display: none;
}

.sidebar.colapsada .Tudu {
  display: none;
}

.sidebar.colapsada .Tudu-text {
  display: none;
}

.sidebar.colapsada .logoImg-tudutile {
  width: 5vh;
  margin-left: 13px;
}

.sidebar.colapsada .menu-link {
  margin-left: 0;
}

/* POSICIONAMENTO DO BOTÃO FIXADO NO CANTO INFERIOR ESQUERDO */
.botaologout {
  position: absolute;
  bottom: 20px;
  left: 20px;
}
