@import url(../../../tokens/fontes.css);

.container-text-EsqueceuSenha {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.text-ParagrafoEsqueceuSenha {
  font-family: var(--title);
  width: 75%;
  text-align: center;
  color: gray;
  margin-top: -1px;
  font-weight: bold; /* <- essa linha faz o texto ficar em negrito */
}
